.preview-tabs {
  .code-area {
    pointer-events: none;
  }

  .CodeMirror-scroll {
    padding-block: 0;
  }

  bgw_scenes {
    & > bgw_visuals {
      display: none;
    }
  }
}

.code-tabs {
  .code-area {
    pointer-events: none;
  }

  .CodeMirror-scroll {
    // padding-block: 0;
  }
}
